# Tasks 


#### 1: If you haven’t done so already, complete the instructions in the Exercise for creating the “price_label” and “busiest_day” columns.
    
#### 2: Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.
    
#### 3: Check the values of this new column for accuracy. Note any observations in markdown format.
    
#### 4: When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”
    
#### 5: Print the frequency for this new column.
    
#### 6: Ensure your notebook is clean and structured and that your code is well commented.
    
#### 7: Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.
    
#### 8: Save your notebook and submit it to your tutor for review.

# Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing Data

In [2]:
path = r'C:\Users\maxca\Instacart Basket Analysis'

In [3]:
df_ords_prods = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))

# Checking data frame

In [4]:
df_ords_prods.head()

,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both

In [5]:
df_ords_prods.shape

(32404859, 15)

# Creating price_label and busiest_day variable for the first 1000000 rows

#### 2: If you haven’t done so already, complete the instructions in the Exercise for creating the “price_label” and “busiest_day” columns.

In [6]:
#Defining the data frame as the first 1000000 rows
df = df_ords_prods[:1000000]

In [7]:
df.shape

(1000000, 15)

#### Dropping _merge and exists column since they are no longer needed

In [8]:
df = df.drop(columns = ['_merge'])

In [9]:
df = df.drop(columns = ['exists'])

In [10]:
df.shape

(1000000, 13)

In [11]:
#define price_label
def price_label(row):
    
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High range'
    else: return 'Not enough data'

In [12]:
#use it on the data frame
df['price_range'] = df.apply(price_label, axis=1)

In [13]:
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [14]:
df['prices'].max()

14.8

In [15]:
#faster more efficient way with loc:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [16]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [17]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [18]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

# Creating price_range for the whole data frame

#### Dropping _merge and exists columns

In [19]:
df_ords_prods = df_ords_prods.drop(columns = ['_merge'])

In [20]:
df_ords_prods = df_ords_prods.drop(columns = ['exists'])

In [21]:
df_ords_prods.head()

,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0

In [22]:
df_ords_prods.loc[df_ords_prods['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [23]:
df_ords_prods.loc[(df_ords_prods['prices'] <= 15) & (df_ords_prods['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [24]:
df_ords_prods.loc[df_ords_prods['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [25]:
df_ords_prods['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

# Creating the busiest_day column

In [26]:
#checking which days are busy etc
df_ords_prods['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [27]:
#If statement with for loops
result = []

for value in df_ords_prods['orders_day_of_week']:
    if value == 0:
        result.append('Busiest day')
    elif value == 4:
        result.append('Least busy')
    else:
        result.append('Regularly busy')

In [28]:
#adding column busiest_day
df_ords_prods['busiest_day'] = result

In [29]:
df_ords_prods['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

# Exercise

#### 2: Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [30]:
#checking which days are busy etc
df_ords_prods['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

#### The two bussiest days are 0 and 1, the least bussy days are 4 and 3

In [31]:
#If statement with for loops
result_revised = []

for value in df_ords_prods['orders_day_of_week']:
    if value == 0 or value == 1:
        result_revised.append('Busiest days')
    elif value == 3 or value == 4:
        result_revised.append('Least busy days')
    else:
        result_revised.append('Regularly busy')

#### 3: Check the values of this new column for accuracy. Note any observations in markdown format.

In [32]:
df_ords_prods['busiest_days'] = result_revised

In [33]:
#Check the outcome
df_ords_prods['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy     12916111
Busiest days       11864412
Least busy days     7624336
Name: count, dtype: int64

In [34]:
df_ords_prods.head()

,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days

#### The total of regular, busiest and least busy days matches the overall count. The same applies to the sum of the two groupings.

#### 4: When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [35]:
# Checking for the busiest hours
df_ords_prods['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

#### We can group all hours in 3 groups a 8 hours: 10, 11, 14, 15, 13, 12, 16 and 9 to 'Most orders', 17, 8, 18,19 ,20 ,7 ,21 ,22 into 'Average orders' and 23, 6, 0, 1, 5, 2, 4, 3 into 'Fewest orders'.

In [36]:
# Creating the loop
result_hours = []

for value in df_ords_prods['order_hour_of_day']:
    if value in [10, 11, 14, 15, 13, 12, 16]:
        result_hours.append('Most orders')
    elif value in [23, 6, 0, 1, 5, 2, 4, 3]:
        result_hours.append('Fewest orders')
    else:
        result_hours.append('Average orders')

In [37]:
df_ords_prods['busiest_hours'] = result_hours

#### 5: Print the frequency for this new column.

In [38]:
#Check the outcome
df_ords_prods['busiest_hours'].value_counts(dropna = False)

busiest_hours
Most orders       18663868
Average orders    12451854
Fewest orders      1289137
Name: count, dtype: int64

In [39]:
df_ords_prods.head()

,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_hours
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders

#### 7: Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [ ]:
df_ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_ords_prods.pkl'))