# Tasks

#### 1: If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe per the instructions in this Exercise, do so now.

#### 2: Export the merged file in pickle format as “orders_products_combined.pkl”.

## Importing Libraries

In [31]:
# Import libraries
import pandas as pd
import numpy as np
import os

## Importing Data

In [32]:
path = r'C:\Users\maxca\Instacart Basket Analysis'

In [33]:
# Importing Pickle file orders_products_combined
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [34]:
# Importing CSV file products_checked
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

## Checking both data sets

#### orders_products_combined

In [35]:
orders_products_combined.head()

,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [36]:
orders_products_combined.shape

(32434489, 10)

In [37]:
#Checking for Product ID Missing Values

orders_products_combined[orders_products_combined['product_id'].isnull() == True]

Empty DataFrame
Columns: [order_id, user_id, number_of_orders, orders_day_of_week, order_hour_of_day, days_since_prior_order, product_id, add_to_cart_order, reordered, _merge]
Index: []

#### Products

In [38]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

#### Same Index Problem since it s from a csv file - Dropping the excess index column

In [39]:
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [40]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [41]:
df_prods.shape

(49672, 5)

In [42]:
#Checking for Product ID Missing Values

df_prods[df_prods['product_id'].isnull() == True]

Empty DataFrame
Columns: [product_id, product_name, aisle_id, department_id, prices]
Index: []

## Merging Both data sets

#### Since the Product ID is the only column that exists in both data frames we will do an Inner Join

In [43]:
ords_prods_merge = orders_products_combined.merge(df_prods, on = 'product_id', indicator = 'exists')

In [48]:
ords_prods_merge.head()

,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,exists
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both

In [50]:
ords_prods_merge.shape

(32404859, 15)

In [51]:
# Checking Merge Flags
ords_prods_merge['exists'].value_counts()

exists
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

## Exporting New Dataframe to .pkl

#### 2: Export the merged file in pickle format as “orders_products_combined.pkl”.

In [52]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))