# Tasks


#### 1: If you haven’t performed the consistency checks covered in this Exercise on your df_prods dataframe, do so now.

#### 2: Run the df.describe() function on your df_ords dataframe. Using your new knowledge about how to interpret the output of this function, share in a markdown cell whether anything about the data looks off or should be investigated further.
- Tip: Keep an eye on min and max values!
        
#### 3: Check for mixed-type data in your df_ords dataframe.
    
#### 4: If you find mixed-type data, fix it. The column in question should contain observations of a single data type.
    
#### 5: Run a check for missing values in your df_ords dataframe.
- In a markdown cell, report your findings and propose an explanation for any missing values you find.
        
#### 6: Address the missing values using an appropriate method.
- In a markdown cell, explain why you used your method of choice.
        
#### 7: Run a check for duplicate values in your df_ords data.
- In a markdown cell, report your findings and propose an explanation for any duplicate values you find.

#### 8: Address the duplicates using an appropriate method.
- In a markdown cell, explain why you used your method of choice.
        
#### 9: Export your final, cleaned df_prods and df_ords data as “.csv” files in your “Prepared Data” folder and give them appropriate, succinct names.
    
#### 10: Save your Jupyter notebook and submit it here for your tutor to review.

# Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing Data

In [2]:
path = r'C:\Users\maxca\Instacart Basket Analysis'

In [3]:
# Product Data
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [4]:
# Wrangled Order Data
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

# First Look

#### 1: If you haven’t performed the consistency checks covered in this Exercise on your df_prods dataframe, do so now.

In [5]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

# Mixed-Type Data

In [6]:
# Create a test dataframe

df_test = pd.DataFrame()

In [7]:
# Create mised type column

df_test['mix'] = ['a', 'b', 1, True]

In [8]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [9]:
# Check for mixed types

for col in df_test.columns.tolist():
  weird = (df_test[[col]].map(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [10]:
# Fixing mixed data

df_test['mix'] = df_test['mix'].astype('str')

# Missing Values

In [11]:
# Finding Missing Values

df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [12]:
# Creating new Dataframe to list all the missing values

df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [13]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

# Addressing Missing Values

In [14]:
# Number of rows before dropping NaNs

df_prods.shape

(49693, 5)

In [15]:
# Create a clean dataframe without the missing values, since we can't impute the product names

df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [16]:
#Number of rows after dropping NaNs

df_prods_clean.shape

(49677, 5)

In [17]:
# Another way to drop them is df_prods.dropna(inplace = True) (all missing values or
# df_prods.dropna(subset = [‘product_name’], inplace = True) (for a particular column)

# Duplicates

In [18]:
# Finding Duplicates

df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [19]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

# Addressing Duplicates

In [20]:
# Checking number of rows for df_prods_clean

df_prods_clean.shape

(49677, 5)

In [21]:
# Creating a new Dataframe without duplicates

df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [22]:
df_prods_clean_no_dups.shape

(49672, 5)

# Exporting .CSV

In [23]:
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

# Exercise

#### 2: Run the df.describe() function on your df_ords dataframe. Using your new knowledge about how to interpret the output of this function, share in a markdown cell whether anything about the data looks off or should be investigated further.

In [26]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

#### As we can see the days_since_prior_order has the min value of 0 and the max value of 3, while 25% is 4 and 75% is 7. We can obersve a similiar problem at the number_of_orders column.

#### 3: Check for mixed-type data in your df_ords dataframe.

In [33]:
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].map(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)
else :
        print('No mixed values found')

No mixed values found

#### 5: Run a check for missing values in your df_ords dataframe.

In [34]:
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
number_of_orders               0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

#### The missing values in the days_since_prior_order column can be explained with first time customer, where there are no prior orders. Deleting these values in such an amount could be risky.

#### 7: Run a check for duplicate values in your df_ords data.

In [37]:
df_dups_ords = df_ords[df_ords.duplicated()]

In [38]:
df_dups_ords

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, number_of_orders, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

#### There are no duplicates in the df_ords dataframe.

In [39]:
#Preparing df_ords for export to Prepared Data

df_ords_clean_no_dups = df_ords

#### 9: Export your final, cleaned df_prods and df_ords data as “.csv” files in your “Prepared Data” folder and give them appropriate, succinct names.

In [ ]:
# Exporting Clean Products dataframe

df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

In [40]:
# Exporting Clean Orders dataframe

df_ords_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv',))